Repository B-U-I-L-T-UIUC/AI-Vision-Adaptive-Face-Masking, pull requests merged in 2025-03, with the labels that each got.

#50 made live feed gallery and arrow buttons
  react_frontend/public/assets/arrow.png
  react_frontend/public/assets/galleryicon.png
  react_frontend/src/components/liveFeedNavigation.js
  react_frontend/src/pages/liveFeedPage.js
  react_frontend/src/styles/liveFeedNavigation.css
Labels: frontend

#54 fix aws cloudfront routing
  aws_backend/lambda_api/lambda_api.zip
  aws_backend/main.tf
  aws_backend/modules/cloudfront/cloudfront.tf
  aws_backend/modules/web_app_s3/outputs.tf
Labels: bug, backend

#52 finished landing page (first draft, will add better built logo later)
  react_frontend/public/assets/built.png
  react_frontend/src/App.css
  react_frontend/src/pages/landingPage.css
  react_frontend/src/pages/landingPage.js
Labels: frontend

#62 landing page and global css edits
  react_frontend/src/App.css
  react_frontend/src/pages/landingPage.css
  react_frontend/src/pages/landingPage.js
Labels: frontend

#55 added avatar modal
  react_frontend/public/assets/addicon.png
  react_frontend/public/assets/avatarExample.png
  react_frontend/src/components/addAvatar.js
  react_frontend/src/components/avatarGalleryModal.js
  react_frontend/src/components/liveFeedNavigation.js
  react_frontend/src/pages/avatarGallery.js
  react_frontend/src/pages/landingPage.js
  react_frontend/src/pages/liveFeedPage.js
  react_frontend/src/styles/addAvatar.css
  react_frontend/src/styles/avatarGalleryModal.css
Labels: frontend

#66 specify pipeline on push file path trigger
  .github/workflows/js-build.yml
  .github/workflows/python-tests.yml
  .github/workflows/react-build.yml
  .github/workflows/terraform-deploy.yml
Labels: enhancement

#70 fixed avatar modal styling
  react_frontend/public/assets/addicon.png
  react_frontend/src/components/avatarGalleryModal.js
  react_frontend/src/pages/avatarGallery.js
  react_frontend/src/styles/addAvatar.css
  react_frontend/src/styles/avatarGallery.css
  react_frontend/src/styles/avatarGalleryModal.css
Labels: frontend

#73 replaced built logo w/ white version and made other styling changes to landing page
  react_frontend/public/assets/built.png
  react_frontend/public/favicon.ico
  react_frontend/public/index.html
  react_frontend/public/logo192.png
  react_frontend/public/logo512.png
  react_frontend/src/App.css
  react_frontend/src/pages/landingPage.css
  react_frontend/src/pages/landingPage.js
  react_frontend/src/styles/landingPage.css
Labels: frontend

#69 Blendshape Data live graph
  ml_backend/face_detection.py
  ml_backend/requirements.txt
Labels: enhancement, backend
