Repository B-U-I-L-T-UIUC/AI-Vision-Adaptive-Face-Masking, pull requests merged in 2025-02, with the labels that each got.

#38 Fix Terraform Pipeline
  .github/workflows/terraform.yml
Labels: backend

#37 Python and Javascript CI/CD Pipeline
  .github/workflows/js-build.yml
  .github/workflows/python-tests.yml
  ml-backend/face-detection.py
  ml-backend/requirements.txt
  ml-backend/tests/face_detection_test.py
  react-frontend/package-lock.json
  react-frontend/package.json
Labels: enhancement, testing

#39 Add AWS S3 Remote for Terraform
  aws-backend/providers.tf
Labels: backend

#43 build react web app pipeline
  .github/workflows/react-build.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform.yml
Labels: backend

#41 provision AWS S3 and Cloudfront for react web app
  aws-backend/main.tf
  aws-backend/modules/cloudfront/cloudfront.tf
  aws-backend/modules/cloudfront/outputs.tf
  aws-backend/modules/cloudfront/variables.tf
  aws-backend/modules/s3/outputs.tf
  aws-backend/modules/s3/s3.tf
  aws-backend/modules/s3/variables.tf
Labels: backend

#46 add data bucket and modify cloudfront
  aws_backend/iam.tf
  aws_backend/main.tf
  aws_backend/modules/cloudfront/cloudfront.tf
  aws_backend/modules/cloudfront/outputs.tf
  aws_backend/modules/cloudfront/variables.tf
  aws_backend/modules/data_s3/outputs.tf
  aws_backend/modules/data_s3/s3.tf
  aws_backend/modules/data_s3/variables.tf
  aws_backend/modules/s3/outputs.tf
  aws_backend/modules/s3/s3.tf
  aws_backend/modules/web_app_s3/outputs.tf
  aws_backend/modules/web_app_s3/s3.tf
  aws_backend/modules/web_app_s3/variables.tf
  aws_backend/providers.tf
Labels: backend

#48 front end file setup
  react_frontend/package-lock.json
  react_frontend/package.json
  react_frontend/src/App.js
  react_frontend/src/components/liveFeedNavigation.js
  react_frontend/src/pages/avatarGallery.js
  react_frontend/src/pages/landingPage.js
  react_frontend/src/pages/liveFeedPage.js
Labels: frontend

#47 Fix face landmarking model path😐
  ml_backend/face_detection.py
Labels: bug, backend
